.cards__list {
  display: grid;
  max-width: 1140px;
  margin: 70px auto 10px;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 37px 24px;
}

.cards__errors {
  display: none;
}

.cards__errors_visible {
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  padding: 0;
  color: #EE3465;
  margin: 50px auto 0;
  max-width: 300px;
  align-self: center;
  justify-self: center;
  text-align: center;
}


@media screen and (max-width: 1150px) {
  .cards__list {
    max-width: 708px;
    gap: 36px 40px;
  }
}

@media screen and (max-width: 600px) {
  .cards__list {
    gap: 30px 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  .cards__list {
    width: 100%;
    max-width: 300px;
    margin-top: 40px;
    margin-bottom: 26px;
    gap: 14px;
  }
  
}