.cards__list {
  display: grid;
  max-width: 1140px;
  margin: 70px auto 10px;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 37px 24px;
}

@media screen and (max-width: 1150px) {
  .cards__list {
    max-width: 708px;
    gap: 36px 40px;
  }
}

@media screen and (max-width: 820px) {
  .cards__list {
    gap: 30px 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .cards__list {
    max-width: 300px;
    margin-top: 40px;
    margin-bottom: 26px;
    gap: 14px;
  }
}