.portfolio {
    max-width: 1140px;
    padding: 0 70px 105px;
    margin: 0 auto;
}

.portfolio__title {
    margin: 0;
    padding-bottom: 50px;
    color: #8B8B8B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.portfolio__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.portfolio__link-container {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px; 
    letter-spacing: -1.2px;
    list-style: none;
    border-bottom: 1px solid #424242;
}

.portfolio__link-container:last-child {
    border-bottom: none;
 }

.portfolio__link {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.portfolio__link:hover {
    transition: opacity 0.5s linear;
    opacity: 0.5;
 }

.portfolio__arrow {
    line-height: 60px;
    margin-bottom: 9px;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 90px;
    }

    .portfolio__link-container {
        border-bottom-color: #E6E6E6;
    }

    .portfolio__link {
        font-size: 28px;
        letter-spacing: -1.12px;
    }
    .portfolio__arrow {
        font-size: 28px;
        letter-spacing: -1.12px;
    }
}

@media screen and (max-width: 555px) {
    .portfolio {
        padding-right: 14px;
        padding-left: 14px;
        padding-bottom: 70px;
    }

    .portfolio__title {
        margin-bottom: 40px;
        font-size: 14px;
    }

    .portfolio__subtitle {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .portfolio__arrow {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }
}