.searchform {
    position: relative;
    padding: 80px 0 10px;
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}

.searchform__input-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchform__input {
    padding: 15px 22px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    max-width: 1060px;
    width: 100%;
    border: none;
    background: #2F2F2F;
    color: #8B8B8B;
    border-radius: 4px;
}

.seachform__input:focus {
    outline: none;
    opacity: .4;
}

.searchform__button {
    margin-left: 10px;
    padding: 13px 5px;
    max-width: 70px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    border-radius: 40px;
    background: #4285F4;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .search__input-label {
        display: none;
    }

    .search__input {
        font-size: 14px;
    }

    .search__button {
        margin-right: 19px;
    }
}

@media screen and (max-width: 430px) {

    .searchform {
        max-width: 292px;
        height: 148px;
        padding-top: 81px;
        margin-right: 14px;
        margin-left: 10px;
    }

    .searchform__input {
        padding: 13px 16px;
        font-size: 12px;
    }
}