.saved-movies {
    max-width: 1140px;
    margin: 0 auto 237px;
    padding: 0;
    width: calc(100% - 140px);
}

@media screen and (max-width: 768px) {
    .saved-movies {
        width: calc(100% - 60px);
        margin-bottom: 140px;
    }
}

@media screen and (max-width: 430px) {
    .saved-movies {
        width: calc(100% - 20px);
    }
}