.burger {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, .3);
   width: 100%;
   height: 100%;
   visibility: hidden;
   opacity: 0;
}

@media screen and (max-width: 768px) {
   .burger_is-active {
      visibility: visible;
      opacity: 1;
      z-index: 3;
      transition: linear 0.5s;
   }

   .burger__container {
      width: 68%;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #202020;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 159px;
      padding-bottom: 90px;
   }

   .burger__close {
      width: 22px;
      height: 22px;
      background-color: transparent;
      background-image: url('../../images/icon-close.svg');
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 27px;
      right: 27px;
      padding: 0;
   }

   .burger__menu {
      display: flex;
      flex-direction: column;
      gap: 28px;
      align-items: center;
   }

   .burger__link {
      margin: 0;
      color: #FFF;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      text-decoration: none;
      cursor: pointer;
   }

   .burger__link.active {
      padding-bottom: 4px;
      border-bottom: 2px solid #FFF;
   }

   .burger__button_account {
      margin-top: 615px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      border-radius: 20px;
      border: none;
      background: #313131;
      color: #FFF;
      padding: 8px 20px;
      cursor: pointer;
   }

   .burger__link:hover,
   .burger__close:hover,
   .burger__button_account:hover {
      transition: opacity 0.5s linear;
      opacity: 0.5;
   }
}

@media screen and (max-width: 430px) {
   .burger__container {
      width: 100%;
      padding-top: 144px;
      padding-bottom: 46px;
   }

   .burger__close {
      top: 20.16px;
      right: 20.16px;
   }

   .burger__menu {
      gap: 22px;
   }

   .burger__link_active {
      padding-bottom: 7px;
   }

   .burger__button_account {
      margin-top: 438px;
   }
}