.about-project {
    max-width: 1280px;
    margin: 0 auto;
    padding: 110px 70px;
    box-sizing: border-box;
    color: #FFF;
}

.about-project__title {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    font-style: normal;
    letter-spacing: -0.88px;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
}

.about-project__container {
    padding-top: 70px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
}

.about-project__block {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 550px;
}

.about-project__name {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.8px;
}

.about-project__description {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.about-project__status {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 110px;
    row-gap: 14px;
    text-align: center;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.about-project__schedule {
    margin: 0;
    color: #000;
    background: #3DDC84;
    padding: 9px 14px;
}

.about-project__schedule_backend {
    color: white;
    background: #303030;
}

.about-project__text {
    color: #8B8B8B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
}

@media screen and (max-width: 768px) {
    .about-project {
        padding: 90px 50px;
    }

    .about-project__container {
        gap: 30px;
    }

    .about-project__block {
        gap: 22px;
    }

    .about-project__description {
        font-size: 12px;
        line-height: 18px;
    }

    .about-project__status {
        grid-template-columns: 1.06fr 4fr;
        margin-top: 93px;
    }

    .about-project__schedule {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-project__text {
        font-weight: 400;
        color: #A0A0A0;
        font-family: "Suisse Intl", "Arial", sans-serif;
    }
}

@media screen and (max-width: 555px) {
    .about-project {
        padding: 70px 18px;
    }

    .about-project__title {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.72px;
        padding-bottom: 26px;
    }

    .about-project__container {
        padding-top: 60px;
        flex-direction: column;
        gap: 56px;
    }

    .about-project__block {
        gap: 16px;
    }

    .about-project__name {
        line-height: 22px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .about-project__description {
        font-size: 11px;
        line-height: 16px;
    }

    .about-project__status {
        grid-template-columns: 2.17fr 4fr;
        margin-top: 60px;
        row-gap: 8px;
    }

    .about-project__schedule {
        font-size: 11px;
        padding: 11px 10px;
    }

    .about-project__text {
        font-size: 11px;
        color: #A0A0A0;
    }
}